* {
    -fx-font-size: 13px;
}

.title {
    -fx-font-weight: bold;
    -fx-font-size: 21px;
}

.subtitle {
    -fx-font-weight: bold;
}

.leftBox {
    -fx-background-color: #c7e4ff;
}

.rightBox {
    -fx-padding: 15px;
    -fx-background-color: white;
}

.menuBox, .editBox {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.scrollpane {
    -fx-background-color: transparent;
}

.generalBox {
    -fx-spacing: 10px;
}

.menuBoxButton {
    -fx-background-color: #e4eeff;
    -fx-padding: 10px;
    -fx-focus-color: none;
}

.menuBoxButton:hover {
    -fx-background-color: #9dbee5;
}

.editBoxButton {
    -fx-background-color: #e4eeff;
    -fx-padding: 10px;
    -fx-focus-color: none;
}

.editBoxButton:hover {
    -fx-background-color: #9dbee5;
}

.inactiveButton {
    -fx-fill: #a6a6a6;
    -fx-background-color: #d7d7d7;
    -fx-padding: 10px;
}

.errorMessage {
    -fx-fill: red;
}
